:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.create {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
.create:hover {
  border-color: #646cff;
}
.create:focus,
.create:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  .create {
    background-color: #f9f9f9;
  }
}

/*  */
.grillaGifs {
  padding: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 3; }
    .div3 { grid-area: 1 / 3 / 2 / 4; }
    .div4 { grid-area: 1 / 4 / 2 / 5; }
    .div5 { grid-area: 1 / 5 / 2 / 6; }
    .div6 { grid-area: 2 / 1 / 3 / 2; }
    .div7 { grid-area: 2 / 2 / 3 / 3; }
    .div8 { grid-area: 2 / 3 / 3 / 4; }
    .div9 { grid-area: 2 / 4 / 3 / 5; }
    .div10 { grid-area: 2 / 5 / 3 / 6; }
    .div11 { grid-area: 3 / 5 / 4 / 6; }
    .div12 { grid-area: 3 / 5 / 4 / 6; }


.gifs {
  list-style: none;
  overflow:hidden;
  height: 100%;
}

.gifs img {
  border-radius: 1em;
  width: 200px;
  /* height: 200px; */
  height: 100%;
  object-fit: cover;
  /* overflow-y: hidden; */
}

.btn {
  display: flex;
  margin: auto;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 2em 0;
  gap: 2em;
  /* position: absolute; */
}

.cancelar {
  background-color: #1a1a1a;
  padding: .5em;
  border-radius: 50%;
  height:2.5em;
  width:2.5em;
  position: relative;
  right: 3em;
  bottom: 13em;
  font-weight: light;
}